<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.categoryMapper">

	<resultMap type="categoryVO" id="categoryResult">
		<result property="ctgid" column="ctgid"/>
		<result property="ctgname" column="ctgname"/>
		<result property="ctgdate" column="ctgdate"/>
		<result property="parentid" column="parentid"/>
		<result property="sumproduct" column="sumproduct"/>
	</resultMap>
	
	
	<!-- sql statement -->
	<select id="selectAll" resultMap="categoryResult">
		<![CDATA[
			select * from category order by ctgid
		]]>
	</select>
	
	<select id="selectAllC" resultMap="categoryResult">
		<![CDATA[
			select * from category WHERE parentid = 0 order by ctgid
		]]>
	</select>
	
	<select id="selectParent" resultMap="categoryResult">
		<![CDATA[
			SELECT ctgid, ctgname FROM category WHERE parentid = 0 OR parentid = 33 OR parentid = 34
		]]>
	</select>
	
	<select id="selectCategoryname" resultMap="categoryResult">
		<![CDATA[
			SELECT * FROM category 
			WHERE parentid = 1 OR parentid = 2
		]]>
	</select>
	

	<select id="selectOne" resultMap="categoryResult" parameterType="int">
		<![CDATA[
			select * from category where ctgid = #{id}
		]]>
	</select>
	<insert id="insert" parameterType="categoryVO">
	<![CDATA[
	insert into category(ctgname,ctgdate,parentid)
	values(#{ctgname},#{ctgdate},#{parentid})
	]]>
	</insert>
	<update id="update" parameterType="categoryVO">
	<![CDATA[
		update category set
			ctgname=#{ctgname},
			ctgdate=#{ctgdate},
			parentid=#{parentid}
		where ctgid = #{ctgid}
	]]>
	</update>
	<delete id="delete" parameterType="int">
	<![CDATA[
		delete from category 
		where ctgid = #{ctgid}
	]]>
	</delete>
	<!-- Chi upload -->
	<select id="selectCategoryBySource" resultMap="categoryResult">
		<![CDATA[
			
		SELECT * FROM category 
			WHERE parentid = 26 OR parentid = 27
		]]>
	</select>
	
	
	<!-- nguyenthai -->
	<select id="selectLCategory" resultMap="categoryResult">
		<![CDATA[
		SELECT COUNT(*) AS sumproduct,c.ctgname,c.ctgid FROM category c JOIN product p ON c.ctgid = p.ctgid group BY p.ctgid LIMIT 5
		]]>
	</select>
</mapper>